
nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    
    button.navbar-toggler(
        type="button",
        data-toggle="collapse",
        data-target="#navbarSupportedContent",
        aria-controls="navbarSupportedContent",
        aria-expanded="false",
        aria-label="Toggle navigation")
        span.navbar-toggler-icon
    
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="#")
                    | HOME 
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href="#") FOO
            li.nav-item
                a.nav-link(href="#") BAR
            li.nav-item
                a.nav-link(href="#") BIZ
            li.nav-item
                a.nav-link(href="#") BAT
            li.nav-item
                a.nav-link(href="#") KAH
            li.nav-item
                a.nav-link(href="#") BUY
            li.nav-item
                a.nav-link(href="#") STUFF
            
            